Pillow==9.2.0
Flask==2.1.3
python-firebase==1.2
gunicorn==20.1.0
Pillow===9.2.0
opencv-contrib-python==4.6.0
-i https://download.pytorch.org/whl/cpu
torch
-i https://download.pytorch.org/whl/cpu
torchvision
git+https://github.com/facebookresearch/detectron2.git@d3b9f7b47fb24a1c60cd5ec423f550c57d3e6366
